body {
    padding: 0;
    margin: 0;
    background: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

:root {
    --font-color: #233142;
    --font-color2: #f95959;
    --font-color3: #455d7a;
    --bg-color: #e3e3e3;
}

.dark {
    --font-color: #e3e3e3;
    --bg-color: #233142;
    --font-color3: #e4f1fe;
}

* {
    box-sizing: border-box;
}


/* classes and config */

li {
    list-style-type: none;
}

ul {}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
ul {
    margin: 0;
    padding: 0;
}

a {}

.hover {
    transition: color 0.15s ease-in-out;
}

.hover:hover {
    transition: color 0.15s ease-in-out;
    color: var(--font-color2);
    cursor: pointer;
}

img {
    pointer-events: none;
}

*::-webkit-scrollbar {
    width: 0;
}


/* header */

header {
    width: 100%;
    height: 5vh;
    border-bottom: 3px solid var(--font-color);
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    user-select: none;
}

.headerInnerWrapper {
    display: flex;
    width: 98.5%;
    height: inherit;
    align-items: center;
    justify-content: space-between;
}

.headerInnerWrapper nav ul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 40px;
    font-weight: bold;
}


/* main */

main {
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.mainUpperWrapper {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainCenterWrapper {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: var(--font-color3);
    font-size: 50px;
}

.cardsWrapper {
    width: 90%;
    height: 100%;
    display: grid;
    flex-direction: column;
    gap: 1em;
}

.subject-title {
    font-size: 40px;
    color: var(--font-color);
}

.subjectSection {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5em;
}

.SubjectToolsContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 1em;
    place-items: center;
    align-items: center;
}

.card {
    width: 250px;
    height: 250px;
    border: 4px solid var(--font-color2);
    color: var(--font-color);
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: all 0.15s ease-in-out;
    font-weight: bold;
    user-select: none;
    box-shadow: inset 0 0 5px var(--font-color2);
    flex-direction: column;
    gap: 1em;
    padding: 10px;
}

.card:hover {
    transition: all 0.15s ease-in-out;
    border-color: var(--font-color3);
    box-shadow: inset 0 0 5px var(--font-color3);
    transform: scale(1.05);
    cursor: pointer;
}

.card i {
    font-size: 50px;
}


/* footer */

footer {}


/* tool pop up */

.tool_popUp {
    position: fixed;
    margin: auto auto auto auto;
    inset: 0 0 0 0;
    width: 85%;
    height: 85%;
    border: 4px solid var(--font-color);
    border-radius: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background-color: var(--bg-color);
}

.popUp_header {
    width: 99%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

.popUp_main {
    width: 100%;
    height: 90%;
}

.tool_popUp_closeBtn {
    padding: 7.5px 10px;
    border: 3px solid var(--font-color);
    border-radius: 15px;
    transition: all 0.15s ease-in-out;
}

.tool_popUp_closeBtn:hover {
    transition: all 0.15s ease-in-out;
    border-color: var(--font-color2);
}

.tool_popUp_questionBtn {
    padding: 0 5.5px 0 0;
    font-size: 30px;
}


/* tool contents */

.tool_content {
    display: none;
}

.tool_content[tool_id="0"] {
    width: 100%;
    height: 100%;
    background-color: var(--font-color2);
}


/* question tool pop up */

.tool_question_popUp {
    position: fixed;
    margin: auto auto auto auto;
    inset: 0 0 0 0;
    width: 55%;
    height: 55%;
    border: 4px solid var(--font-color);
    border-radius: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    background-color: var(--bg-color);
}


/* dark layer for pop ups */

.darkLayer {
    position: fixed;
    margin: auto auto auto auto;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.600);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}


/* animations */

@keyframes popUp_pop {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}